@import "./../../styles";

:host {
    @include clearFix();
}

#elevator-elevators {
    display: flex;
    position: relative;

    .elevator-holder {
        list-style: none;
        position: relative;
        .task {
            position: absolute;
            bottom: 1px;
        }
    }

}
